<div class="wrapper">
    <!-- Main Header -->
   <app-app-header></app-app-header>
   <!-- Left side column. contains the logo and sidebar -->
   <app-app-left-side></app-app-left-side>
   <!-- Content Wrapper. Contains page content -->
   <router-outlet></router-outlet>
   <!-- /.content-wrapper -->
   <!-- Main Footer -->
   <app-app-footer></app-app-footer>
   <!-- Control Sidebar -->
   <app-app-control-sidebar></app-app-control-sidebar>
   <!-- /.control-sidebar -->
   <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
   <div class="control-sidebar-bg"></div>
  </div>
  