<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
          {{title}}
          <small>{{optionDescription}}</small>
        </h1>
        <ol class="breadcrumb">
          <li><a routerLink="/"><i class="fa fa-dashboard"></i>主页</a></li>
          <li class="active">{{title}}</li>
        </ol>
      </section>
  
    <!-- Main content -->
    <section class="content">
      <div class="row search-stock">
        <div class="input-group col-xs-10 col-md-8 pull-left">
          <!-- <span class="input-group-addon"><i class="fa fa-search"></i></span> -->
          <input id="typeahead-http" type="text" 
            class="form-control" style="display: inline;"
            [class.is-invalid]="searchFailed"
            [(ngModel)]="term"
            [ngbTypeahead]="search"
            (focus)="focus$.next($event.target.value)"
            (click)="click$.next($event.target.value)"
            #instance="ngbTypeahead"
            placeholder="请输入股票代码或名称"
          />
        </div>

        <div>
          <a class="btn btn-social-icon" (click)="showFunds()"><i class="fa fa-search"></i></a>
        </div>        
      </div>
      <div>
        <app-grid #gridComponent
          [columns]="gridColumns"
          [menus]="gridActions"
          [showIndex]="true" 
          [indexTitle]="'序号'" 
          [pageSize]=10
          [pageSizes]="[10,20,50,100]" 
          [resetUrl]="resetUrl" 
          [sortBy]="'weight'" 
          [orderBy]="'desc'"
          [FTSearch]="{'show': false, 'placeholder': '搜索', 'forNames': ['name_ping_yin','name']}"
          [selection]="{'show': false, 'multiple': true}"
        >    
        </app-grid>       
      </div>
    </section>
    <!-- /.content -->
  </div>
  