<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
          {{title}}
          <small>{{optionDescription}}</small>
        </h1>
        <ol class="breadcrumb">
          <li><a routerLink="/"><i class="fa fa-dashboard"></i>主页</a></li>
          <li class="active">{{title}}</li>
        </ol>
      </section>
  
    <!-- Main content -->
    <section class="content">
      
  
    </section>
    <!-- /.content -->
  </div>
  