app-stock{
    .search-stock{
        padding: 15px;padding-top:0px;
        .dropdown-menu{
            padding: 0px;
            max-height: 400px;
            overflow-y: scroll;
            .dropdown-item{
                display: block;
                margin-bottom: 5px;
                background-color: #fff;
                padding:5px;
                text-align: left;
                width:100%;
                border:0px;
                :last-child{
                    margin-bottom: 0px;
                }
            }
            .active{
                background-color: #3c8dbc;
                color: #fff;
            }
        }
    }
    .btn-social-icon{
        margin-left:10px;
        padding:2px;
        background-color:#1087dd;
        color:#fff;
    }
}